@model IEnumerable<IdentitySample.Models.ApplicationUser>

@{
    ViewBag.Title = "List of Teachers";
}

<h2>List of Teachers</h2>

<p>
    @Html.ActionLink("Assign Teacher", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            <p>Assigned Laboratory</p>
        </th>
        <th>
            <p>Options</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            Software Engineering
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
